{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}

  <h6 class="border-bottom pb-2 mb-0">Recent updates</h6>

<main class="container">
{% for reqs in req %}

  <div class="my-3 p-3 bg-body rounded shadow-sm">
        <p class="pb-3 mb-0 small lh-sm border-bottom">
            <strong class="d-block text-gray-dark">@{{ reqs.Users }}</strong>
            {{ reqs.Floor}}
            <a href="{{ path('delete', {'id': reqs.id }) }}">Delete</a>
        </p>
        </div>
    </div>
{% endfor %}
</main>


{% endblock %}
